@import url("https://fonts.googleapis.com/css2?family=Inter:wght@400;500;600;700;800&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Material+Symbols+Outlined:wght,FILL@100..700,0..1&display=swap");

@tailwind base;
@tailwind components;
@tailwind utilities;

.material-symbols-outlined {
	font-variation-settings:
		"FILL" 0,
		"wght" 400,
		"GRAD" 0,
		"opsz" 24;
	font-size: 24px;
}

body {
	min-height: max(884px, 100dvh);
}

.glassmorphism {
	background: rgba(35, 54, 72, 0.4);
	-webkit-backdrop-filter: blur(12px);
	backdrop-filter: blur(12px);
	border: 1px solid rgba(146, 173, 201, 0.2);
}

.gradient-fab {
	background: linear-gradient(135deg, #4f46e5 0%, #a855f7 100%);
}

.grid-item-gradient-1 {
	background: linear-gradient(135deg, #10b981, #3b82f6);
}

.grid-item-gradient-2 {
	background: linear-gradient(135deg, #f59e0b, #ef4444);
}

.grid-item-gradient-3 {
	background: linear-gradient(135deg, #ec4899, #8b5cf6);
}

.grid-item-gradient-4 {
	background: linear-gradient(135deg, #22d3ee, #0ea5e9);
}

.grid-item-gradient-5 {
	background: linear-gradient(135deg, #6366f1, #a855f7);
}
